# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# React app build and libs
/sme-minuta/node_modules
/sme-minuta/build

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
